h1 {
  color: b3ffff;
}
h1 { text-align: center; }
p { text-align: center; }
p {
  color: azure;
}
img {
  width: 400px; 
}
li {
  color: blue
}
h1 {
  font-family: futura;
}
p {
  font-family: futura;
}

ul {
  font-family: futura;
}
body {
  background-color: #999999; 
}
h1 {
  font-size: 80px;
}
p {
  font-style: oblique;
}
img {display: block;
    margin-left: auto;
    margin-right: auto; }
