body {
  line-height: 1.5;
  background-color: #999999; 
}

h1 {
  color: white;
  text-align: center;
  font-family: futura;
  font-size: 80px;
  margin: 0 auto;
  padding: 25px;
  background-color: maroon;
}

h2.titles {
  color: white;
  text-align: center;
  font-family: futura;
  font-size: 40px;
  width: 70%;
  margin: 0 auto;
}

p.intro { 
  text-align: center;
  color: white;
  font-family: avenir;
  width: 70%;
  margin: 0 auto;
}

img.tim {
    width: 400px; 
    padding: 25px 50px 25px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

img.book{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 25px 25px 25px 25px
}


