body {
  line-height: 1.5;
  background-color: #999999; 
}

h1 {
  color: white;
  text-align: center;
  font-family: futura;
  font-size: 100px;
  margin: 1em 0 0 0;
  padding: 1px;
  background-color: maroon;
  width: 100%;
}

h2.titles {
  color: white;
  text-align: center;
  font-family: futura;
  font-size: 60px;
  width: 50%;
  margin: 0 auto;
}

h3 {
color: white;
  text-align: center;
  font-family: avenir;
  font-size: 30px;
  width: 70%;
  margin: 0 auto;
}

p.intro { 
  text-align: center;
  color: white;
  font-family: avenir;
  width: 70%;
  margin: 0 auto;
}

p.food {
  text-align: center;
  color: white;
  font-family: avenir;
  width: 50%;
  margin: 0 auto;
}

img.tim {
    width: 400px; 
    padding: 25px 50px 25px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

img.book {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 25px 25px 25px 25px
}

img.food {
 width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding: 25px 25px 25px 25px
}

footer {
  padding: 25px;
  background-color: maroon;
  width: 100%
}
